.header {
    background-color: rgba(150, 17, 245, 0.548);
    padding: 20px;
    text-decoration: none;
}

.header a {
    text-decoration: none;
    margin-left: 20px;
    font-size: 20px;
    color: white;
}